.header {
  display: flex;
  align-items: center;
  background-color: #2b2c37;
  padding: 16px 48px;
}
.btn-container {
  color: #c4daef;
  font-weight: 600;
  margin-right: 20px;
}
.btn-container span {
  padding: 8px;
}
.nav-btns {
  list-style: none;
  display: flex;
}
